body {
    background-image: url("/img/background.jpg");
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .fa-brands {
    display: inline-block;
    text-align: center;
  }

  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 60px;
    color: #ffffff;
  }
  
  p {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  #countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  
  #countdown div {
    background-color: rgb(85, 26, 139);
    color: #fff;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 24px;
    border-radius: 5px;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 28px;
    }
    p {
      font-size: 16px;
    }
    #countdown {
      flex-direction:row;
    }
  }